/DSL1Q4/build/
/DSL1Q4/dist/
/DSL1Q5/build/
/DST4/dist/
/DSL3Q1/nbproject/private/
/DSL3Q1/build/
/DSL3Q2/nbproject/private/
/DSL3Q2/build/
/DSL3Q3/nbproject/private/
/DSL3Q3/build/
/DSL3Q4/nbproject/private/
/DSL3Q5/nbproject/private/
/DSL4Q1/nbproject/private/
/DSL4Q1/build/
/DSL4Q1/dist/
/DST5/nbproject/private/
/DST5/build/
/DSL4Q2/nbproject/private/
/DST6/nbproject/private/
/DST6/build/
/DSL5Q1/nbproject/private/
/DSL5Q1/build/
/ElCorona/nbproject/private/
/DSL5Q2/nbproject/private/
/DSL4Q2/build/
/DSL4Q3/nbproject/private/
/DSL4Q3/build/
/DSL4Q5/nbproject/private/
/DSL4Q5/build/
/DSL4Q5/dist/
/DSL4Q6/nbproject/private/
/DSL4Q6/build/
/DSL4Q7/nbproject/private/
/DSL4Q7/build/
/DST7/nbproject/private/
/DST7/build/
/DSL6Q1/nbproject/private/
/DST6/dist/
/DSL6Q1/build/
/DST5/dist/
/DSL4Q8/nbproject/private/
/DSL4Q8/build/
/Corona/El-Corona/nbproject/private/
/Corona/El-Corona/build/
/DSL5Q2/dist/
/DSL5Q2/build/
/DSL5Q4/nbproject/private/
/DSL5Q4/build/
/DSL6Q2/nbproject/private/
/DSL6Q2/build/
/DST9/nbproject/private/
/DST9/build/
/DSL8Q1/nbproject/private/
/DSL8Q1/build/
/DSL8Q1/dist/
/DSL5Q3/build/
/DSL5Q3/dist/
/DSL5Q3/nbproject/private/
/DSL8Q2/nbproject/private/
/DSL8Q2/build/
/DSAssignment/nbproject/private/
/DSAssignment/build/
/DSAssignment/dist/
/DSL8Q3/nbproject/private/
/DSL8Q4/nbproject/private/
/DSL8Q4/build/
/DSL9Q1/nbproject/private/
/DSL9Q1/build/
/DSL9Q2/nbproject/private/
/DSL9Q2/build/
/DSL9Q3/nbproject/private/
/DSL9Q3/build/
/DSL9Q4/nbproject/private/
/DSL9Q4/build/
/DSL9Q5/nbproject/private/
/DSL9Q5/build/
/DSL4Q2/dist/
/DSL6Q1/dist/
/DSL6Q2/dist/
/DSL6Q3/nbproject/private/
/DSL6Q3/build/
/DSL6Q4/nbproject/private/
/DSL6Q4/build/
/DSL6Q5/nbproject/private/
/DSL5Q4/dist/
/DSL5Q6/nbproject/private/
/DSL5Q6/build/
/DSL5Q5/nbproject/private/
/DSL5Q5/build/
/DSFinalSem1_1617/nbproject/private/
/DSFinalSem1_1617/build/
/DSFinalSem1_1617/dist/
/DSFinalSem1_1718/nbproject/private/
/DSFinalSem2_1617/nbproject/private/
/DSL6Q5/build/
/DSFinalSem2_1819/nbproject/private/
/DSFinalSem2_1819/build/
/DSFinalSem2_1819/dist/
/DSFinalSem2_1617/build/
/DSFinalSem1_1819/nbproject/private/
/DSFinalSem1_1819/build/
/DSFinalSem1_1718/build/
/DSL4Q7/dist/
/DSFinalExam/nbproject/private/
/Polynomial/nbproject/private/
/Polynomial/build/
/LinkedList/nbproject/private/
/FinalMain/nbproject/private/
/LinkedList/build/